/*  
Skin Name: Montreal
*/


body {text-align: left; background: #fff; color: #333; font-size: 16px; font-family: Helvetica, sans-serif; margin: 0; padding: 2em 0;}

h1 { font-size: 16px; margin: 0 1em 0 0;  text-transform: uppercase; font-weight: normal; display: inline;}
h2 { font-size: 16px; margin-bottom: 2em;}
h2 span {font-weight: lighter; padding-left: .5em;}

a {color: #666; text-decoration: none;}
a:hover {color: #333;}
a img {border: 0;}

.current-menu-item a, .current_page_ancestor a, .current-post-ancestor a { color: #ff9999;}

#header { padding: 0 2em 2em 2em; overflow: hidden; margin: auto; text-align: center;}
#header .menu-navigation-container {display: inline}

#header ul { padding: 0; list-style: none; display: inline}
#header ul li {margin: 0; display: inline; }

#header ul li {padding: 0 .8em; }
.subnav ul li a { padding: .5em 0 .5em 1em; }

.subnav {clear: both; padding: 1em; text-align: center; overflow: hidden;}
.subnav ul {list-style: none; margin: 0; padding: 0; }
.subnav ul li { margin: 0; padding: 0; display: inline;}
.subnav ul li a { display: inline-block; padding: .5em; }

#content {}

.info, .blog  { width: 500px; margin: auto; line-height: 2; }

.blog .post {overflow: hidden;}
.separator { width: 100px; margin: 50px auto; border-top: 1px solid #000; display: block;}

.alignright { display: inline; float: right; margin: 0 0 1em 2em}
.alignleft { display: inline; float: left; margin: 0 2em 1em 0}
.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.credit {font-size: .8em; float: left; padding-top: 1em;}
.credit a {color: #666;}
	
.simplepage {width: 500px; margin: auto; line-height: 2;}
.randomimage {text-align: center; }

.blank .gallerycontent {text-align: center; padding-bottom: 3em;}

/* Slideshow*/

#gallerywrapper, .gallery-fade {
overflow: hidden;
margin: auto;
position: relative;
}

.thumbnails {padding-bottom: 3em; width: 870px; }

.description {text-align: right; color: #999; height: 2em; overflow: hidden; margin: .5em 0 1em 0;}
.description p {margin: .5em 0 0 0; font-size: 11px;}

#slidecontrols {text-align: center;}

a.cursornext { cursor: url("../images/cursor-next.cur"), pointer; }
a.cursorprev { cursor: url("../images/cursor-prev.cur"), pointer; }

.thumbnails {width: 870px; margin: auto; overflow: hidden; display: none; text-align: center;}
.thumbnails .thumb {display: inline; cursor: pointer; }
.thumbnails .thumb img {border: .5em solid #fff;}
	
.masonrythumbs {margin: auto; width: 870px;}
.masonrythumbs .thumbnail {float: left; width: 250px; text-align: center; padding: 0 20px 15px 20px;}
.masonrythumbs .thumbnail h3 {}
.masonrythumbs .thumbnail h3 a {font-weight: normal;}